#header-main-body{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background-color: #FF3300;
}

#header-main-body p{
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    color: white;
    margin-left: 20px;
}

#header-main-body :link{
    text-decoration: none;
}

#header-main-body button{
    background-color: #FF3300;
    border: 0;
    margin-right: 30px;
    cursor: pointer;
}

#header-main-body button img{
    width: 40%;
    height: 45%;
}